name: test_and_report
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - go.mod
      - go.sum
      - "cmd/**"
      - "pkg/**"
permissions:
  contents: write

jobs:
  test_and_report:
    strategy:
      fail-fast: false
      matrix:
        go: [1.25]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    name: Test and report maintainability of ldap-cli
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - name: Install go tools
        run: |
          go install golang.org/x/tools/gopls@latest && \
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest

      - name: Export Module Name
        id: export_module_name
        run: echo "MODULE_NAME=$(go mod edit -json | jq -r '.Module.Path')" >> "$GITHUB_OUTPUT"

      - name: Run linters
        run: |
          gofmt -s -d $(find . -type f -name '*.go'| grep -v "/vendor/")
          golangci-lint run -v && golangci-lint run -v --exclude-dirs-use-default -e printf
        shell: bash

      - name: Run tests with coverage
        run: go test ./... -coverprofile=coverage.out

      - name: Publish code coverage
        uses: qltysh/qlty-action/coverage@v2
        with:
          files: coverage.out
          add-prefix: ${{ steps.export_module_name.outputs.MODULE_NAME }}
          verbose: true
          token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
